* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rebeccapurple;
}

.slider-wrapper {
  inline-size: 80%;
  overflow: hidden;
}

.images {
  display: flex;
  inline-size: 100%;
 
}

.images img {
  inline-size: 0;
  block-size: 500px;
  transition: all 1s ease;
}

.images input {
  display: none;
}

.images span {
  margin-top: 33em;
  opacity: 0;
}

.pagination {
  margin: 20px;
  display: flex;
  justify-content: center;
}

input:checked + * + span {
  opacity: 1;
  inline-size: 100%;
  margin-inline-start: -30em;
}

.pagination label {
  inline-size: 15px;
  block-size: 15px;
  border-radius: 50%;
  border: 2px solid white;
  padding: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.pagination label:hover {
  background-color: white;
}

input:checked + img {
  inline-size: 100%;
}
